.out{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}
.content{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    height: 350px;
    gap: 20px;
    width: 20%;
    padding-top: 25px;
    align-items: center;
    font-size: 18px;
}